<div id="maincontent">
    <div id="page">
        <div class="post">
          <div class="posthead">
            <h1>Please login</h1>
          </div>
          <div>
            <h4>Do you already have an account on one of these sites? Click the logo to log in with it here:</h4>
            <ul class='list'>
              <li><a href="/auth/twitter" title="Twiter" class="social twitter"></a></li>
              <li><a href="/auth/facebook" title="Facebook" class="social facebook"></a></li>
              <li><a href="/auth/google_oauth2" title="Google" class="social google"></a></li>
            </ul>
            <br />
            <br />
            After you authorize Landlord Feedback with any of the above websites,
            we do not make any posts to your accounts, nor we have access to your friend list, posts or tweets.
          </div>
        </div>
    </div>
    <div id="sidebar">
      <%= render "shared/side_pane" %>
    </div>
    <div class="clear"> </div>
</div>

