<h1>Manager page</h1>

<%= link_to "posts", :action => :posts %> |
<%= link_to "properties", :action => :properties %> |
<%= link_to "feedbacks", :action => :feedbacks %> |
<%= link_to "comments", :action => :comments %>
