<h2>Latest Feedbacks</h2>
<ul class="posts">
  <% feedbacks.each do |f| %>
	  <li>
	    <%= link_to f.name[0,30], :controller=>:feedback, :action=>:view, :id=>f.id%>
	    <span>
	      <%= f.updated_at%> |
	      <%= pluralize(f.comments.count, 'Comments') %>
	    </span>
	  </li>
	<% end %>
</ul>

