<div class="clear">&nbsp;</div>
<%= render "shared/side_search" %>
<%= render "shared/latest_properties", :properties => @latest_properties %>
<%= render "shared/latest_feedbacks", :feedbacks => @latest_feedbacks %>
