<h2>Search Properties</h2>
<div>
  <form id="sidesearch">
    <div class="textfield fields">
            <label></label>
            <input type="text" size="30">

    </div>
    <input  type="submit" value="search">
  </form>
</div>
