<h2>Search Properties</h2>
<div>
  <%= form_tag({:controller=>:home, :action=>:search}, :method => :post) do %>
    <div class="textfield fields">
            <label></label>
            <%= text_field_tag(:term) %>
    </div>
    <%= submit_tag("search") %>
  <% end %>
</div>
