<div class="post">
  <a name="terms"></a>
  <h3>Terms</h3>
  <p class="descreet">
   By acceptings terms and conditions you agree that all information that you provide to Landlord Feedback is correct. 
   You should only create new properties, submit feedback and/or rating if you have lived or (still live) in the property 
   you are describing. You agree not to post any offensive language/material. Ladlord Feedback reserves the right to delete 
   any information posted by its users.
  </p>
</div>
