<div id="maincontent">
	<div id="page">
		
		<div class="post">
		  <div class="posthead">
  		    <h1>About Landlord Feedback</h1>
		  </div>
		  <div>
		    about project goes here
		  </div>
		</div>

	</div>
	<div id="sidebar">
	  <%= render "shared/side_pane" %>
	</div>
	<div class="clear">	</div>
</div>
