<div id="maincontent">
	<div id="page">
		
		<div class="post">
		  <div class="posthead">
  		    <h1>What is Landlord Feedback?</h1>
		  </div>
		  <div>
		    Landlord Feedback is a community driven feedback website. It is targeted
		    at tenants of all ages and contains feedbacks on private landlords, letting
		    agencies and their offered properties throughout the UK. Landlord Feedback
		    is absolutely free to use for both feedback seekers and feedbacks leavers, 
		    all you need is a Facebook account to log in with.
		  </div>
		</div>
		
		<div class="post">
		  <div class="posthead">
  		    <h1>Why look for feedback?</h1>
		  </div>
		  <div>
		    If you are on the market to rent a new property, moving to a new area or
		    just between apartments - making research on your future landlord, letting
		    agency or new area isn't such a bad idea. See if somebody left a feedback 
		    on the property you are about to rent, so you know what to expect from 
		    the place or its landlord. Hope you find it useful.
		  </div>
		</div>
    
    <div class="post">
		  <div class="posthead">
  		    <h1>Why leave feedback?</h1>
		  </div>
		  <div>
		    You should leave feedback if you feel like sharing information about your
		    landlord, letting agency or the property you live(d) in.	We are interested
		    in both good and bad stories, but please be fair in your feedback. Other
		    users might find it useful as they look for property to rent in your area, 
		    or perhaps even from landlord or agency you are currently renting with.
		  </div>
		</div>
		
		<div class="post">
		  <div class="posthead">
  		    <h2>Disclaimer</h2>
		  </div>
		  <div>
		    All information posted by Landlord Feedback (including any text and images) remains
		    the property of their respective posters. Landlord Feedback is just a feedback exchange 
		    platform and bears no responsibility for any such information posted.
		  </div>
		</div>
		
	</div>
	<div id="sidebar">
	  <%= render "shared/side_pane" %>
	</div>
	<div class="clear">	</div>
</div>
