<div id="maincontent">
	<div id="page">
		
		<div class="post">
		  <div class="posthead">
  		    <h1>Donate to help this project</h1>
		  </div>
		  <div>
		    <p>
		      We made Landlord Feedback absolutely ad-free, to make your stay as 
		      pleasant as possible. However, being a non commercial, we need to pay 
		      for hosting and maintenance of our servers, so if you like this website
		      and find it useful please donate any amount to our paypal account by
		      clicking a link below.
		    </p>
		    <%= paypal_form%>
		  </div>
		</div>

	</div>
	<div id="sidebar">
	  <%= render "shared/side_pane" %>
	</div>
	<div class="clear">	</div>
</div>
