<div id="maincontent">
	<div id="page">
		
		<div class="post">
		  <div class="posthead">
  		    <h1>Donate</h1>
		  </div>
		  <div>
		    donate goes here
		    <%=paypal_form%>
		  </div>
		</div>

	</div>
	<div id="sidebar">
	  <%= render "shared/side_pane" %>
	</div>
	<div class="clear">	</div>
</div>
